#calendar div.fc-daygrid-event-harness > a > div {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  text-align: right;
}

#calendar div.fc-daygrid-event-harness > a > div .title {
  text-align: right;
  font-size: 1.5rem;
}

#calendar em.las {
  font-size: 3rem;
}

#calendar .fc-event-past {
  background-color: #dfe3e7;
  border-color: #ffffff;
}

#calendar .fc-event-past {
  background-color: #dfe3e7;
  border-color: #ffffff;
}

#calendar .fc-event-past {
  background-color: #dfe3e7;
  border-color: #ffffff;
}

.fc-view-harness {
    height: 94rem !important;
}
